*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-repeat: no-repeat;
    background-position: cover;
    background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%),url(images/cover.png);
    height: 700px;
}
ul li{
    list-style: none;
    margin-top: 30px;
    margin-right: 60px;
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover{
    color: #EF233C;
}
ul{
    display: flex;
    justify-content: flex-end;

}
header{
    margin-left: 200px;
    margin-top: 100px;
}
.header-text{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 55px;
    color: #FFFFFF;
}
.header-p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
}
.orange-btn{
    padding: 16px 24px;
    background: #EF233C;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.orange-btn:hover{
    background: #FFFFFF;
    border: 1px solid #EF233C;
    color: #EF233C;
}