*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-repeat: no-repeat;
    background-position: cover;
    background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%),url(images/cover.png);
    height: 700px;
}
ul li{
    list-style: none;
    margin-top: 30px;
    margin-right: 60px;
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover{
    color: #EF233C;
}
ul{
    display: flex;
    justify-content: flex-end;

}
header{
    margin-left: 200px;
    margin-top: 100px;
}
.header-text{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 55px;
    color: #FFFFFF;
}
.header-p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
}
.orange-btn{
    padding: 16px 24px;
    background: #EF233C;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.orange-btn:hover{
    background: #FFFFFF;
    border: 1px solid #EF233C;
    color: #EF233C;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.vedio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:100px;
}
.vedio-icon{
    position: absolute;
    left:67%;
    top:160%;
    cursor: pointer;
}
.h1-text{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    
}
.p-text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-top: 15px;
}
.donation{
    text-align: center;
    margin-top: 70px;
}
.grid {
    display: grid;
    grid-template-columns: 461px 461px;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: -2px;
   align-items: center;
   justify-content: center;
    
    }
    .help{
        display: flex;
        text-align: left;
        background: #FEF4F5;
        border-radius: 10px;
        margin-top: 30px;
     
        
    }
    .help-text{
        margin-left: 20px;
        margin-top: 40px;
    }
    .help-icon{
        margin-left: 25px;
    }
    .dua{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }
    .card{
        width:364px;
        height: 481px;
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        margin-top: 30px;
    }
    .card-text{
        margin-left: 15px;
        margin-top: 15px;
    }
    .zakat{
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #EF233C;
        
    }
    footer{
        background-color: #121212;
        text-align: center;
        margin-top: 50px;
        height: 170px;
        position: relative;
    }
    .footer-item{
        position: absolute;
        top: 50%;
        left:40%
    }